.dateTime {
    width: 300px;
    background-color: #39394B;
    color: white; /* Cambiar el color del texto a blanco */
  }

  .numberPick::-webkit-inner-spin-button,
  .numberPick::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
